article{

  padding: 1rem 0;

  &:first-of-type{
    @extend .p-t-0;
  }

  h1{
    margin-top:0;
  }

  .article-image{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    flex:0 0 200px;
    margin: 1rem 1rem 1rem 0;
  }

  & + article{
    @extend .b-t;
  }

  p{
    margin-bottom: 1.5rem;
  }

  blockquote{
    margin: 1rem 0 2rem 0;
    background: #fafafa;
    padding: 1rem;
  }

  .author{
    @extend .b-t;
    @extend .p-t;
    @extend .p-b;

    font-size: .8em;
    color: rgba($text,0.5);
  }
}
