.calendar{

  & > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @extend .m-b;
    @extend .m-t-0;


    h3{
      margin:0;
    }

    & > div{
      background-repeat: no-repeat;
      background-size: contain;
      width: 1.7em;
      height: 1.7em;
    }
  }

  [date]{
    @extend .col;


    span{
      padding: .25em 0;

      a{
        text-decoration: none;
        color: $primary;
      }
    }

    &:first-child{
      font-weight:bold;
    }

    &:not(:empty){

      &:before{
        font-size: .7em;
        opacity: .75;
        content: attr(label);
      }
    }
  }

}
