footer{
  background: #222;
  color: white;
  padding: 2rem 1rem 1rem;

  h3{
    border-bottom: 1px solid currentColor;

    @extend .p-b;
  }

  a{
    color: white;
    @extend .fade;
    text-decoration: none;
    padding: .25rem 0;
  }
}
