$primary: #36C186;
$secondary: adjust-hue($primary,30);

$text: #333;

$border: #eaeaea;

$buttons: (
  ("primary", $primary, #FFFFFF),
  ("secondary", $secondary, #FFFFFF)
);

$categories: (
  ("informasjon", #3e5f88, #FFFFFF),
  ("aksjon", #5a85a0 , #FFFFFF),
  ("reportasjer", #aeba5a, #FFFFFF),
  ("jubileer", #ddb958, #FFFFFF)
);
