@import '_colors';
@import '_variables';

*,
*:before,
*:after{
  box-sizing: border-box;
}

html{
  font-size: $font-size;
  font-family: $font-primary;
  line-height: 1.58;
  color: $text;
}

body{
  margin:0;
}

@import 'grid/_flex';
@import '_layout';

@import 'components/_typo';
@import 'components/_border';
@import 'components/_button';
@import 'components/_icon';

@import 'structures/_header';
@import 'structures/_footer';
@import 'structures/_masthead';
@import 'structures/_article';
@import 'structures/_calendar';
@import 'structures/_imageslider';
@import 'structures/_widget';
@import 'structures/_akjson-status';
@import 'structures/_navigation';
@import 'structures/_categories';
@import 'structures/_tv-guide';
